.forgetPassword-page {
  width: 100%;
  max-width: 600px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #0066cc;
  outline: none;
}

.error-message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fcebeb;
  /* 淺紅色背景 */
  color: #a94442;
  /* 深紅色文字 */
  border: 1px solid #ebccd1;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
}

.success-message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: #d4edda;
  /* 淺綠色背景 */
  color: #155724;
  /* 深綠色文字 */
  border: 1px solid #ebccd1;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #0066cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #004c99;
}

.submit-button:active {
  background-color: #003366;
}